:root{
    --cor-primaria: #121a24;
    --cor-secundaria: #22566b;
    --cor-terciaria: #3278a3;
    --cor-quaternaria: #4ba1a0;
    --cor-cinco: #1f1f2d;
    --cinza: #b0ae9f;

}

.movie{
    width: 600px;
    background-color: var(--cor-primaria);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 3px 4px 5px rgba(31, 31, 31, 0.58);
    position: relative;
}

.movie h3{
    font-size: 24px;
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    text-wrap: wrap;
    margin-bottom: 15px;
}

.movie p{
    font-size: 17px;
    font-style: italic;
    margin-bottom: 15px;
}

.movie iframe{
    width: 470px;
    height: 268px;
    display: block;
    margin: 0 auto;
}

.movie-button{
    position: absolute;
    right: 15px;
    top: 15px;
}

.movie-button summary{
    list-style: none;
    font-size: 24px;
    display: inline-block;
    width: 39px;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    transition: all 500ms;
}

.movie-button summary:hover{
    background-color: #1f1f2d;
}

.form{
    background-image: linear-gradient(to bottom right, var(--cor-primaria), var(--cor-secundaria), var(--cor-primaria));
    width: 700px;
    height: 500px;
    padding: 19px 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 6px 9px rgba(0, 0, 0, 0.58);

    position: absolute;
    top: 40px;
    left: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#close-form{
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: #121a24;
    padding: 12px 15px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 50%;
    cursor: pointer;
}

.fields{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2px;
    margin-bottom: 10px;
    font-size: 20px;
}

.fields input, textarea{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    width: 350px;
    background-color: var(--cor-quaternaria) ;
    color: white;
    font-size: 17px;
    outline: none;
}

.fields input::placeholder, textarea::placeholder{
    color: white;
    opacity: .3;
}

.form button{
    border: none;
    padding: 10px 20px;
    background-color: #4ba1a0;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}