:root{
    --cor-primaria: #121a24;
    --cor-secundaria: #22566b;
    --cor-terciaria: #3278a3;
    --cor-quaternaria: #4ba1a0;
    --cor-cinco: #1f1f2d;
    --cinza: #b0ae9f;

}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    
}

#root{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

